<%= stylesheet_link_tag "static_pages", media: "all"%>
<header "nav-logo">
      <div class = 'logo_container'>
        <%= link_to image_tag("creative.jpg", :alt => "Creative Art and Drawing Studio", :id => "logo"), '#', id: "logo_button" %>
      <div>
      <nav id='login_bar'>
        <ul>
          <li><a href="#">SIGN-IN</a></li>
          <li><a href="#">SIGN-UP</a></li>
        </ul>
      </nav>
</header
