<% provide(:title, "About Us") %>
<%= render 'static_pages/main_header' %>
<section id='main'>
  <section id='main_body'>
    <h1 id="catch_phrase">
      "WHERE EVERYONE CAN LEARN TO DRAW"
    </h1>
    <h1>About Us</h1>
    <h2 id="home_page">
      Here at <b id="company_name">Creative</b> Art and Drawing Studios we use a step by step approach to teach that drawing is a skill that anyone can learn, just as anyone can learn to read, write, or play an instrument.<br /><br />

      Each week a new project is chosen, and broken down into small elements, which are then put back together to create a student's very own work of art.<br /><br />

      <b id="company_name">Creative</b> Art and Drawing Studios is a fun environment where there are no judgments made on students' projects. Our teaching method gives enough instruction for success, but allows for individual creativity to shine.<br /><br />

      Classes are one hour long. A project is completed from start to finish each week within that one hour. All supplies are provided. There are no additional supply costs to the tuition.<br />
    </h2>
    <h2 id="about">
      Who is Samantha Lassiter(Owner/Teacher)? <br /> &nbsp;  I have taught the Monart method for over four years and trained with <a href="http://monart.com/about/books-by-mona/">Mona Brooks</a>, developer of the <a href="http://monart.com/">Monart</a> method of teaching drawing. Sadly Monart of Colorado Springs had to close its doors, but I am continuing her passion for teaching the arts. <b id="company_name">Creative</b> Art and Drawing Studios carries on a unique approach of teaching the art of drawing, unlike any other. Our method uses basic elements to teach realistic drawing. We teach students to draw an object or picture exactly as it appears, without stifling creativity.
    </h2>
  </section>
</section>
