<% provide(:title, "About Us") %>
<%= render 'static_pages/main_header' %>
<section id='main'>
  <section id='main_body'>
    <h1 id="catch_phrase">
      "WHERE EVERYONE CAN LEARN TO DRAW"
    </h1>
    <h1>About Us</h1>
    <h2 id="home_page">
      <b id="company_name">Creative</b> Art and Drawing Studios is a place where everyone can learn to draw. Using a step by step method drawing becomes a teachable subject just as reading or writing. Pictures are broken into elements which are transformed into personal works of art. The unique approach to drawing provides success for students ages 4- Adult, at any skill level.<br /><br />

      <b id="company_name">Creative</b> provides a quiet, focused atmosphere for drawing. It is an environment where students feel safe knowing that drawings are not judged or marked by the instructor. This is a realistic drawing program where students are taught to draw things as they see them. Of course, we all "see" things differently in this world, so individual creativity shines through each work of art.<br /><br />

      Each week a new project is chosen, and broken down into small elements, which are then put back together to create a student's very own work of art.<br /><br />

      Classes are one hour long. A project is completed from start to finish each week within that one hour. All supplies are provided. There are no additional supply costs to the tuition.<br />
    </h2>
    <h2 id="about">
      Who is Samantha Lassiter(Owner/Teacher)? <br /> &nbsp;  I have taught the Monart method for over four years and trained with <a href="http://monart.com/about/books-by-mona/">Mona Brooks</a>, developer of the <a href="http://monart.com/">Monart</a> method of teaching drawing. Sadly Monart of Colorado Springs had to close its doors, but I am continuing my passion for teaching the arts. <b id="company_name">Creative</b> Art and Drawing Studios carries on a unique approach of teaching the art of drawing, unlike any other. Our method uses basic elements to teach realistic drawing. We teach students to draw an object or picture exactly as it appears, without stifling creativity.
    </h2>
  </section>
</section>
