<% provide(:title, "About Us") %>
<%= render 'static_pages/main_header' %>
<section id='main'>
  <section id='main_body'>
    <h1>About Us</h1>
    <h2 id="about">
      Samantha Lassiter, owner/teacher, has taught the Monart method for over four years and trained with <a href="http://monart.com/about/books-by-mona/">Mona Brooks</a>, developer of the <a href="http://monart.com/">Monart</a> method of teaching drawing. Sadly Monart of Colorado Springs had to close its doors, but Samantha is continuing her passion for teaching the arts. <b id="company_name">Creative</b> Art and Drawing Studios carries on a unique approach of teaching the art of drawing, unlike any other. Our method uses basic elements to teach realistic drawing. We teach students to draw an object or picture exactly as it appears, without stifling creativity.
    </h2>
  </section>
</section>
