<% provide(:title, "About Us") %>
<%= render 'static_pages/main_header' %>
<h1>About Us</h1>
<p>
  Future About Us Page for <a href='http://creative-studios.herokuapp.com'>Creative Art and Drawing Studio</a> website
</p>
