<% provide(:title, "Contact Us") %>
<%= render 'static_pages/main_header' %>
<h1>Contact Us</h1>
<p>
  Future Contact Page for <a href='http://creative-studios.herokuapp.com'>Creative Art and Drawing Studio</a> website
</p>
