<% provide(:title, "Contact Us") %>
<%= render 'static_pages/main_header' %>
<section id='main'>

  <section id='main_body'>
    <h1>Contact Us</h1>
    <h2>
      Future Contact Page for <a href='http://creative-studios.herokuapp.com'>Creative Art and Drawing Studio</a>  website. We do appreciate your patients.
    </h2>
  </section>
</section>
