<% provide(:title, "Contact Us") %>
<%= render 'main_header' %>
<section id='main'>
  <section id='main_body'>
    <h1>Contact Us</h1>
    <h2 id="contact_info">
      OWNER </br> &nbsp Samantha Lassiter</br></br>
      PHONE </br> &nbsp <a href="tel:7196401011">719-640-1011</a></br></br>
      EMAIL </br> &nbsp <a href="mailto:creativeartanddrawingstudios@gmail.com?Subject=Question">creativeartanddrawingstudios@gmail.com</a>
    </h2>
  </section>
</section>
