<% provide(:title, "New Teacher") %>
<%= render 'teachers/main_header' %>
<section id='main_body'>
  <h1>Add a Teacher</h1>
  <h2>
    Future Add teacher Page for <a href='http://creative-studios.herokuapp.com'>Creative Art and Drawing Studio</a>  website. We do appreciate your patients.
  </h2>
</section>
