<% provide(:title, @teacher.teacher_name.titleize) %>
<%= render 'teachers/main_header' %>
<nav id='login_bar'>
  <h1><%= @teacher.teacher_name.titleize %></h1>
  <% if teacher_signed_in? %>
    <% if current_teacher.admin? %>
      <%= link_to 'Edit Teacher', edit_teacher_path(@teacher), :class=>'new' %>
    <% end %>
  <% end %>
</nav>
<section id='main'>
  <section class="main-body">
    <h2>
        Future Show teacher Page for <a href='http://creative-studios.herokuapp.com'>Creative Art and Drawing Studio</a>  website. We do appreciate your patients.
      </h2>
  </section>
</section>
